body {
  background: #e5e7eb;
}

.App {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 2.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 1rem 0.2rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.container {
  text-align: left;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid #d1d5db;
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}

.lrg {
  font-size: larger;
}

.sml {
  font-size: smaller;
}
